body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
}

#root {
  display: contents;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
  margin-top: 60px;
}

footer {
  grid-row: 3;
}

a {
  text-decoration: none;
}
